
.message_box {
  width: 100%;
  max-width: 600px;
  margin: 1em 0;
  padding: 1em;
}
.message_box.error {
  background-color: #DE3A1D;
}
.message_box.success {
  background-color: #8ABA1F;
}
.message_box.busy {
  background-color: #686868;
}
