
.list {
  list-style-type: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.items {
  margin: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #595959;
  cursor: pointer;
  vertical-align: middle;
}
